
.rateit-new {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.rateit-new .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url(../img/star_new.png);
    height: 26px;
    outline: none;

    width: 130px;
    height: 26px;

    transform: scale(0.7);
}

.rateit-new .rateit-range * {
    display:block;
}

/* for IE 6 */
* html .rateit, * html .rateit-new .rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html .rateit, * + html .rateit-new .rateit-range
{
    display: inline;
}

.rateit-new .rateit-hover, .rateit-new .rateit-selected
{
    position: absolute;
    left: 0px;

    height: 26px;
}

.rateit-new .rateit-hover-rtl, .rateit-new .rateit-selected-rtl
{
    left: auto;
    right: 0px;
}

.rateit-new .rateit-hover
{
    background: url(../img/star_new.png) left -52px;
}

.rateit-new .rateit-hover-rtl
{
    background-position: right -52px;
}

.rateit-new .rateit-selected
{
    background: url(../img/star_new.png) left -26px;
}

.rateit-new .rateit-selected-rtl
{
    background-position: right -26px;
}

.rateit-new .rateit-preset
{
    background: url(../img/star_new.png) left -78px;
}

.rateit-new .rateit-preset-rtl
{
    background: url(../img/star_new.png) left -78px;
}

.rateit-new button.rateit-reset
{
    background: url(rateit-new.css) 0 0;
    width: 26px;
    height: 26px;
    display: -moz-inline-box;
    display: inline-block;
    float: left;
    outline: none;
    border:none;
    padding: 0;
}

.rateit-new button.rateit-reset:hover, .rateit-new button.rateit-reset:focus
{
    background-position: 0 -26px;
}
